:root {
    --greyGreen: #3e564a;
    --lightGreyGreen: #b9c3c0;
    --darkBlue: #000080;
    --veryLightGrey: #e8e8e8;
    --lightGrey: #828282;
    --orangeSand: #9a8369;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background: url('./assets/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.popup {
    z-index: 1;
    position: fixed;
    top: 16px;
    left: 16px;
    height: fit-content;
    width: 400px;
    border: 1px solid black;
    background: var(--lightGreyGreen);
}

.popup-header {
    height: 30px;
    background: var(--darkBlue);
    color: white;
    margin: 2px;
    padding-left: 6px;
    font-weight: bolder;
    font-size: larger;
    line-height: 1.5;
    cursor: grab;
}

.popup-maintext {
    padding: 25px;
}

.popup-buttonset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 25px 25px 25px;
}

.popup-button {
    border: 1px solid black;
    min-height: 25px;
    min-width: 60px;
    background: var(--lightGreyGreen);
}

.button-3d {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid var(--lightGrey);
    border-bottom: 2px solid var(--lightGrey);
}

.button-3d:focus {
    border-top: 2px solid var(--lightGrey);
    border-left: 2px solid var(--lightGrey);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

#taskbar {
    /* Other classes have their z-indexes programmatically changed as their relevant components 
    are clicked. This ensures that it is very unlikely the taskbar will ever be underneith another component */
    z-index: 9999999; 
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 48px;
    width: 100%;
    background-color: var(--lightGreyGreen);
    border-top: 3px solid var(--veryLightGrey);
    bottom: 0;
}

.taskbar-icon {
    font-size: xx-large;
    color: var(--greyGreen);
}

#taskbar-beginbutton {
    height: 44px;
    width: fit-content;
    background-color: var(--lightGreyGreen);
    font-size: xx-large;
    margin-left: 2px;
    margin-top: 2px;
    padding-right: 4px;
}

#beginbutton-text {
    background: -webkit-linear-gradient(var(--orangeSand), var(--greyGreen));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#beginmenu {
    position: fixed;
    bottom: 51px;
    left: 0;
    z-index: 1;
    height: fit-content;
    width: 200px;
    background-color: var(--lightGreyGreen);
    border: 1px solid white;
    border-bottom: 1px solid var(--lightGrey);

    overflow: visible;
}

.taskbar-item {
    z-index: 99;
    background-color: var(--lightGreyGreen);
    margin: 4px;
}

.menu-item {
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.menu-item-label {
    margin-left: 3px;
    font-size: larger;
    line-height: 1.75;
    color: var(--greyGreen);
}

.menu-item {
    margin: 5px;
}

.menu-item-button {
    font-size: larger;
    width: 100%;
    text-align: left;
    border: none;
    background: transparent;
}

.menu-item-button:hover {
    cursor: pointer;
    box-shadow: inset 0px -10px 8px -12px var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
    padding-bottom: 3px;
}

.menu-item-text {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: large;
    font-weight: bold;
    margin-left: 5px;
}

.calculator {
    z-index: 1;
    position: fixed;
    border-radius: 20px;
    border: 1px solid black;
    width: 400px;
    height: 620px;
    background: var(--lightGreyGreen);
}

#calc-display {
    background: var(--lightGreyGreen);
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width: inherit;
    font-weight: 400;
    font-size: 72px;
    line-height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    color: black;
    overflow: hidden;
}

.calc-display-text {
    padding-right: 10px;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    flex-wrap: nowrap;
}

.calc-button {
    font-family: monospace;
    height: 100px;
    background: none;
    color: var(--orangeSand);
    border: 1px solid #black;
    font-weight: 700;
    font-size: 48px;
    margin: 0px;
    flex-basis: 25%;
}

.calc-button:hover {
    color: #ffffff;
    cursor: pointer;
}

.double-width {
    flex-basis: 50%;
}

.left-bottom-corner {
    border-radius: 0px 0px 0px 20px;
}

.right-bottom-corner {
    border-radius: 0px 0px 20px 0px;
}
